.wrapper {
  position: absolute;
  bottom: 0;
  width: 70%;
  margin: 0 auto 20px;
  left: 0;
  right: 0;

  background-color: #f2dede;
  padding-left: 10px;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 20;
}

.text {
  margin-top: 10px !important;
  color: #a94442 !important;
}

.button {
  width: 30px !important;
  height: 30px !important;
}

