.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.column {
  flex-direction: column;
  flex: 1;
  margin: 4px;
}

.list {
  flex-direction: column;
  flex: 2;
  margin: 4px;
}

.details {
  flex-direction: column;
  flex: 3;
  margin: 4px;
}
