.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  padding-top: 5px;
}

.profile {
  font-size: 40px;
  user-select: none;
}

.badge {
  color: red;
}

.spacer {
  height: 3px;
  margin: 8px;
  border-bottom: lightgray 1px solid;
  border-top: lightgray 1px solid;
}
