.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.contacts {
  flex-direction: column;
  width: 200px;
  margin: 4px;
  overflow: hidden;
}

.scrollerContact {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 3px;
}

