.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.contacts {
  flex-direction: column;
  width: 150px;
  margin: 4px;
  overflow: hidden;
}

.scrollerContact {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 3px;
}

.chat {
  flex-direction: column;
  flex: 1;
  /*
   * This is hacky, the goal is to avoid the scroller to overflow in the bottom
   * because of the search bar and the .scroller { height: 100% }
   */
  padding: 0 10px 50px;
  background-color: #f2f2f2;

}

.scrollerChat {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatItem {
  margin-left: 10px !important;
}

.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prompt {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.promptAvatar {
  width: 42px !important;
  height: 42px !important;
  margin-right: 10px;
}

.promptInput {
  flex: 1
}

.cluster {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.clusterHeader {
  display: flex;
  flex-direction: row;
  color: gray;
  justify-content: space-between;
}

.clusterHistory {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.clusterAvatar {
  width: 40px !important;
  height: 40px !important;
  margin-right: 10px;
}

.contactAvatar {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
  margin-left: 10px;
}
