.bio {
  min-height: 150px;
  max-height: 300px;
  overflow: auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 10px !important;
  white-space: pre-line;
}

.bioEmpty {
  min-height: 150px;
  color: gray !important;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 10px !important;
}
