.wrapper {
  display: flex;
  flex-direction: column;
}

.selectAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 25px 25px 42px;
  border-radius: 5000px;
  border: 4px dashed gray;
  cursor: pointer;
  user-select: none;
}

.avatar {
  position: relative;
}

.actions {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  padding: 24px;
}

.actions > div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.actions > div > * {
  font-size: 1.5em;
  cursor: pointer;
  pointer-events: auto;
  color: gray;
}

.zoomWrapper {
  position: relative;
  vertical-align: middle;
  margin-top: -20px;
}

.zoomWrapper > * {
  width: 100%;
  padding: 0;
}

.zoomRail {
  position: absolute;
  border: gray 1px solid;
  margin: 15px 0 15px;
  height: 1px;
}
