.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.buttons > * {
  min-width: 100px !important;
}

.avatarEditor {
  margin: auto;
  width: 250px;
}
