.wrapper {
  padding: 10px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.buttons > * {
  min-width: 100px;
}

.suggestions {

}

.suggestWrapper {

}

.suggestAvatar {

}
