.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.list {
  flex-direction: column;
  flex: 2;
  margin: 4px;
  overflow: hidden;
  /*
   * This is hacky, the goal is to avoid the scroller to overflow in the bottom
   * because of the search bar and the .scroller { height: 100% }
   */
  padding-bottom: 66px;
}

.scroller {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 3px;
}

.details {
  flex-direction: column;
  flex: 3;
  margin-top: 48px;
  margin-left: 10px;
  margin-right: 20px;
}
