.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  flex-shrink: 10000;
}

.avatar {
  width: 90px !important;
  height: 90px !important;
}

.status {
  margin-right: 10px;
}

.name {
  display: flex;
  align-items: center;
}
